html,body{font-family: 'Roboto', sans-serif;}
#calendar{
  width:95%;
  z-index:-1;
  background-color:#fff;
  margin: 0 auto;
}

header {
  height:90px; width:100%;
}

#coursesInput{
  width:75%; height:100%;
  resize:none;
  border:none; outline:none;
  background:white;
  padding:10px;
  font-size:18px;
  border:1px solid;
  border-top:none;
  float:left;
}

#howto{
  float:right;
  width:20%;
  height:100%;
  padding:10px;
  border:1px solid;
  border-top:none;
}

#instructions,#notesWrapper{
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  margin:0; padding:0;
  z-index:1000;
  background:rgba(0,0,0,0.7);
  display:none;
}
#instructions > img{
  margin:auto;
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  width:60%;
}
#notes{
  margin:auto;
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  z-index:999;
  width:500px; height:100px;
  background:#fff;
  padding:20px;

}
